@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
}

.theme-light {
  background: #f5f6f7;
}

.theme-dark {
  background: #746b6b;
}

.theme-quill {
  width: 100%;
}

.theme-quill-light {
  color: black;
}

.theme-quill-light .ql-editor[data-placeholder]::before {
  content: attr(data-placeholder);
  color: black !important;
}

.theme-quill-dark {
  color: white;
}

.theme-quill-dark .ql-editor[data-placeholder]::before {
  content: attr(data-placeholder);
  color: white !important;
}

.none {
  width:0;
  height:0;
}
