@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
}

.theme-light {
  background: #f5f6f7;
}

.theme-dark {
  background: #746b6b;
}

.theme-quill {
  width: 100%;
}

.theme-quill-light {
  color: black;
}

.theme-quill-light .ql-editor[data-placeholder]::before {
  content: attr(data-placeholder);
  color: black !important;
}

.theme-quill-dark {
  color: white;
}

.theme-quill-dark .ql-editor[data-placeholder]::before {
  content: attr(data-placeholder);
  color: white !important;
}

.none {
  width:0;
  height:0;
}

.tag-cloud {
  align-self:center;
  cursor:pointer;
}

.d-none {
  display: none;
}

.EmojiPickerReact {
  position:absolute !important;
bottom:40px;
  left:-330px;
  z-index:500 !important;

}

.MuiTabs-indicator {
  background-color:gray !important;
}

.Mui-selected {
  color:gray !important;
}


table {
  display: block !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  top:15px !important;
}

.css-1661t0p-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color:white !important;
}

.css-hdweb5-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color:black !important;
}